.main-footer{
    display: flex;
    background-color: #000;
    padding-top: 20px;
    padding-bottom: 8px;
    justify-content: center;
}

.main-footer .navfooter{
    margin-right: 20px;
    margin-left: 20px;
}

